@model IEnumerable<DomainModels.Models.OperationResult>

@{
    ViewBag.Title = "Index";
    var message = ViewBag.Message as string;
}

@if (!string.IsNullOrWhiteSpace(message))
{
    <p class="bg-warning">@(message)</p>
}

@if(Model == null)
{
    return;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionDate)
        </td>
        <td>
            <button type="button" class="btn btn-danger" onclick="like(this, @item.Id)" >@(item.IsLiked ? "dislike" : "like")</button>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function like(elem, id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Like")",
            data: {"id": id},
            success: function (msg) {
                if(msg.Success){
                    $(elem).html(msg.Name);
                } else {
                    alert(msg.Error);
                }
            }
        });
    }
</script>

